nav ul{
    color: #fff;
    margin-top: 20px;
}
footer nav ul li a{
    color: #fff;
    text-decoration: none;
    align-items: left;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
}
